<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <section class="main">
        <div class="sidebar">
            <nav class="navbar navbar-left">
                <div class="user">
                    <img src="img/avatar_io.jpg" alt="">
                    <p class="user-name">Giacomo</p>
                </div>
                <div class="buttons">
                    <button class="circle"><i class="fa-solid fa-circle-notch"></i></button>
                    <button class="message"><i class="fa-solid fa-message"></i></button>
                    <button class="dots"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </nav>
            <div class="recive-alerts">
                <div class="mute-logo"><i class="fa-solid fa-bell-slash"></i></div>
                <div class="text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#!">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" id="search-input" v-model="searchString" value="" placeholder="Cerca o inizia una nuova chat" @keyup="searchChat"> 
            </div>
            <div id="contacts">
                <div v-for="(contact, index) in arrContacts" :key="contact.name" @click="activeIndex = index"
                    class="contact" v-if="contact.visible"> <!--  -->
                    <div class="user">
                        <img :src="contact.image" :alt="contact.name">
                        <div class="text">
                            <p class="name">{{contact.name}}</p>
                            <p class="last-sent">ultimo messaggio inviato</p>
                        </div>
                    </div>
                    <div class="last-time">12:00</div>
                </div>
            </div>
        </div>
        <div class="main-div">
            <nav class="navbar navbar-right">
                <div class="user">
                    <img :src="arrContacts[activeIndex].image" alt="">
                    <p class="user-name">{{arrContacts[activeIndex].name}}</p>
                </div>
                <div class="buttons main-buttons">
                    <button><i class="fa-solid fa-magnifying-glass"></i></i></button>
                    <button><i class="fa-solid fa-paperclip"></i></button>
                    <button class="dots"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </nav>

            <div class="right-messages-container">
                <div class="right-messages">
                    <div class="message" :class='{sent: messaggi.sent, received: !messaggi.sent}'
                        v-for="messaggi in arrContacts[activeIndex].messages">
                        <span class="message-text">{{messaggi.text}}</span>
                        <span class="message-time"></span> <!-- {{getFormattedDate(messaggi.date, 'italian')}} -->
                        <i class="fa fa-chevron-down f-right message-options" @click="dontShow"></i> <!--  -->
                        <div class="message-options-panel" v-show="show"  > 
                            <div class="message-info">Info messaggio</div>
                            <div class="message-destroy">Cancella messaggio</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="write-text">
                <button class="emojis"><i class="fa-solid fa-face-smile"></i></button>
                <input @keyup.enter="addSent" v-model="arrContacts[activeIndex].newMessageContent" type="text" id="search-input" value=""
                    placeholder="Scrivi un messaggio">
                <button class="microphone"><i class="fa-solid fa-microphone"></i></button>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>